*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f9f4;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav .logoimg{
    margin-left: 70px;
    padding: 5px 5px;
    background-color: #6c9894;
}
nav img{
    color: #21a59a;
}
nav .listitem{
    width: 88%;
}
nav ul {
    display: flex;
    justify-content:center;
    margin: 30px 0px;
    padding: 5px 0px 5px 100px;
    background-color:#cbe9e7;
    list-style: none;
}
nav ul li{
    padding-left: 100px;
}
nav ul li a{
    text-decoration: none;
    padding: 5px 5px;
    font-size: 18px;
    text-transform: uppercase;
    color: #636262;
    /* background-color: ; */
    font-family: "Baloo Bhai";
}
nav a:hover{
    background-color: #8eded7;
}
.header-container{
    display: flex;
    justify-content: center;
}
.mainimg{
    background: url(../Project5-Yoga/img/Shape1.png)no-repeat center center/cover;
    padding: 100px;
}
.mainimg img{
    border: 2px solid #4d7774;
    border-radius: 200px;
}
.container{
    align-self: center;
    text-align: center;
    padding: 100px 0px;
}
.container h1{
    font-size: 80px;
    color: #6c9894;
    font-family: "Baloo Bhai";
}
.container p{
    font-size: 21px;
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
    padding: 20px 0px;
}
.container button{
    font-size: 17px;
    text-transform: uppercase;
    color: #fefefc;
    font-weight: 700;
    font-family: "Lato";
    background-color: #6c9894;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
}

#section-1{
    background-color: #6c9894;
}
.container1{
    text-align: center;
    padding: 60px 0px;
}
.container1 h1{
    font-size: 75px;
    color: #f4f9f4;
    font-family: "Baloo Bhai";
}
.container1 p{
    font-size: 30px;
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
}
.content1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.sec1-box img{
    border-radius: 50%;
}
.sec1-box h1{
    font-size: 37px;
    color: #f4f9f4;
    font-family: "Baloo Bhai";
    padding: 40px 0px 20px;
}
.sec1-box p{
    font-size: 22px;
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
}