* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
   width: 100%;
}
nav {
    /* width: 1441px;
height: 117px; */
background-color: #b13941;
padding: 5px;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center; 
}
a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: right;
}
.container1 {
    background-image: url(../Project1/image/backgroundimg.png);
    padding: 50px 100px 65px 50px;
    ;
}
.container1 h1 {
font-size: 92px;
color: #feedda;
font-weight: 400;
font-family: "Yeseva One";
text-align: center;
}
.container1 p {
height: 94px;
font-size: 20px;
color: #fefefe;
font-weight: 400;
font-family: "PT Serif";
text-align: center;
padding: 40px 100px 80px 100px;
}
.container1 button {
font-size: 20px;
color: #fefefe;
width: 174px;
height: 54px;
background-color: #b13941;
text-align: center;
border: none;
margin:10px 10px 10px 45%
}
.container2 {
    /* width: 100%; */
    /* height: 100%; */
    background-color: #b13941;
    padding: 100px;
    display: flex;
    /* margin: 0 auto; */
    }
    
    .imglogo2 {
       width: 20%;
       padding: 0px 100px 0px 0px;
    }
    .container2 h5 {
        font-size: 25px;
        color: #feedda;
        font-weight: 400;
        font-family: "Yeseva One";
        padding-left: 100px;
    }
    .container2 h2 {
        font-size: 50px;
        color: #feedda;
        font-weight: 400;
        font-family: "Yeseva One";
        padding-left: 100px;
    }  
    .container2 p {
    font-size: 18px;
    color: #feedda;
    font-family: "PT Serif";
    padding: 30px 10px 30px 100px;
    text-align: left;
    }
    .button2 {
    /* width: 200px;
    height: 47px; */
    }
    .container2 .button2 {
        background-color: #feedda;
        font-size: 18px;
        color: #b13941;
        font-weight: 700;
        font-family: "PT Serif";
        text-align: center;
        margin: 1px 30px 30px 100px;
        padding: 10px 10px 10px 10px;
        border: none;
    } 

    .container3 {
        /* width: 100%; */
        /* height: 70%; */
        display: flex;
        justify-content: unset;
    } 
    
    .container3 .img1 {
        padding: 0;
    
    }
    .container3 .content2 {
        background-color: #f8eed3;
        padding: 15px 54px 100px 10px;
    
    }
    .container3 .content2 h3 {
    font-size: 60px;
    color: #000000;
    font-weight: 400;
    font-family: "Yeseva One";
    padding:10px 100px 80px 100px;
    }
    .container3 .content3  {
    font-size: 19px;
    color: #575757;
    font-weight: 400;
    font-family: "PT Serif";
    padding: 10px 100px 80px 100px;
    }
    .container3 .tag1 {
    color: red;
    padding: 10px 10px 10px 100px;
    }

.container4 {
    background-color: #b13941;
    padding: 50px;
    
    }
    .container4 h1 {
        text-align: center;
        color: #f8eed3;
        font-size: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container4 p {
        color: #f8eed3;
        font-size: 20px;
        text-align: center;
    }
    .container4 .allitem {
        display: flex;
        justify-content: space-around;
        
        

    }
    .container4 .page1 {
        width: 400px;
        height: 312px;
        display: flex;
        background-color: #ffffff;
        margin: 40px 0px 40px 05px;
        padding: 0px 0px 0px 0px;
    }
    .container4 .page2 {
        width: 400px;
        height: 312px;
        display: flex;
        background-color: #ffffff;
        margin: 40px 0px 40px 05px;
        padding: 0px 0px 0px 0px;
    }

    .container4 .page3 {
        width: 400px;
        height: 312px;
        background-color: #ffffff;
        margin: 40px 0px 40px 05px;
        padding: 0px 0px 0px 0px;
        display: flex;
    }
    .container4 h2{
        font-size: 30px;
        color: #010101;
        font-weight: 400;
        font-family: "Yeseva One";
        padding-top: 20px;
        
    }
    .container4 img{
    }
    .container4  .allitem .i01 {
        text-align: left;
        font-size: 10px;
        color: #575757;
        font-weight: 400;
        font-family: "PT Serif";
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container4  button{
        background-color: #b13941;
        color: #fefefe;
        border: none;
        text-align: center;
        padding: 10px 10px 10px 10px;

    }
    .container4 .item1{
        padding: 10px 0px 0px 10px;
    }
    .container4 .item2 {
        padding: 10px 0px 0px 10px;
    }
    .container4 .item3 {
        padding: 10px 0px 0px 10px;
    }
    .container5 {
        background-color: #f8eed3;
        padding-bottom: 50px;
    }
    .container5 h1{
        font-size: 58px;
        color: #b13941;
        font-weight: 400;
        font-family: "Yeseva One";
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .container5 p{
font-size: 21px;
color: #b13941;
font-weight: 400;
font-family: "PT Serif";
text-align: center;
padding-top: 30px;
padding-bottom: 30px;

    }
.container5 .content4 {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px 20px 20px;
    /* padding-left: 50px; */
}
.container5 .page4 {
    margin: 10px 10px 10px 80px;
    background-color: #ffffff
    
     
}
.container5 .page5 {
        margin: 10px 40px 10px 40px;
        background-color: #ffffff    

    
}
.container5 .page6 {
    margin: 10px 80px 10px 10px;
    background-color: #ffffff
    
}
.container5 .ABC {
    padding: 50px 50px 50px 50px;
    text-align: center;
    font-size: 17px;
    color: #555555;
    font-weight: 400;
    font-family: "PT Serif";
}
.content4 .AB {
    text-align: center;
    background-color: #b13941;
    color: #fefefe;
    border: none;
    text-align: center;
    padding: 10px 30px 10px 30px;
    margin: 30px 50px 30px 100px;
}
.container6 {
    display: flex;
    background-color: #b13941;
    padding: 100px 40px 100px 40px;

}
.container6 .img8 {
    padding: 0px 10px 0px 10px;
}
.container6 .content6 {
    padding: 10px 30px 10px 50px;
}
.content6 .A {

font-size: 50px;
color: #f8eed3;
font-weight: 400;
font-family: "Yeseva One";
padding: 100px 0px 20px 10px;

}
.content6 .B {
font-size: 16px;
color: #f8eed3;
font-weight: 400;
font-family: "PT Serif";
padding: 20px 10px 20px 10px;
}

.container7 {
    background-color: #ffffff;
    display: flex;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

    
}
.container7 .img9{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.content7 {
    margin: 10px 0px 0px 1px;
    padding: 10px 10px 0px 100px;
}
.content7 h1 {
padding: 10px 100px 10px 10px;
margin: 20px 0px 30px 0px;
font-size: 58px;
color: #b13941;
font-weight: 400;
font-family: "Yeseva One";
text-align: left;
}
.container7 .Aa {
    padding: 10px 100px 10px 10px;
    margin: 10px 0px 30px 0px;
    background-color: #efefef;
    width: 450px;
    height: 40px;
    border: 1.5px solid #b0b0b0;
}
.container7 .Bb {
    width: 450px;
    height: 40px;
    padding: 10px 100px 10px 10px;
    margin: 10px 0px 30px 0px;
    background-color: #efefef;
    border: 1.5px solid #b0b0b0;
    /* text-align: left; */
}
.container7 .Cc {
    width: 450px;
    padding: 10px 100px 100px 10px;
    margin: 10px 0px 30px 0px;
    background-color: #efefef;
    /* text-align: left; */
    border: 1.5px solid #b0b0b0;
}
.container7 .Dd {
    padding: 10px 10px 10px 10px;
    margin: 50px 10px 10px 0px;
border: none;
background-color: #b13941;
font-size: 25px;
color: #f8eed3;
font-weight: 700;
font-family: "PT Serif";
text-align: center;
}
.container8 {
    background-color: #b13941;
    display: flex;
}
.container8 .A1 {
    margin:  30px 20px 20px 30px;
    padding: 10px 1px 20px 1px;
}
.container8 .a2 {
    margin: 20px;
    padding: 10px;
}
.container8 .a3 {
    margin: 20px;
    padding: 10px; 
    color: #f8eed3; 
}
.container8 .a4 {
    margin: 20px;
    padding: 10px; 
    color: #f8eed3;
}
.container8 .a5 {
    margin: 20px;
    padding: 10px;
    color: #f8eed3; 
}
.container8 .A6 {
    margin: 20px;
    padding: 10px;
    color: #f8eed3;
}
.container8 .Aa2 {
    /* margin: 2px 2px 2px 2px; */
    padding: 10px 10px 35px 10px;
    color: #f8eed3;
}

.container8 .Ab2 {
    
    /* margin: 2px 2px 2px 2px; */
    padding: 5px 5px 5px 5px;
    color: #f8eed3;
}

.container8 .Ac2 {
    margin: 2px 2px 2px 2px;
    padding: 35px 1px 20px 1px;
    color: #f8eed3;
}
.container8 .Aa3 {
    margin: 2px 2px 2px 2px;
    padding: 5px 20px 5px 60px;
}
.container8 .Aa4 {
    margin: 2px 2px 2px 2px;
    padding: 5px 10px 5px 10px; 
}

.container8 .Aa5 {
    margin: 2px 2px 2px 2px;
    padding: 5px 10px 5px 10px; 
}
.container8 .Ab6 {
    padding: 5px 5px 5px 5px;
}
.icon {
    padding: 25px 5px 5px 5px;

}
.icon i{
padding: 05px 5px 5px 5px;
margin: 10px 10px 10px 10px;
background-color: #f8eed3;
color: #b13941;
}